@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background-color: #dddddd;
}

dialog::backdrop {
	background: hsla(0, 0%, 47%, 0.8);
}

dialog:not([open]) {
	display: none;
}

body.modal-open {
	overflow: hidden;
}
